:root {
  --color-background: #0c0d14;
  --color-navbar: #1f2030;
  --color-input: #373952;
  --color-font-primary: #ffffff;
  --color-font-secondary: #eff0f7dc;
  --color-button: #6842ff;
  --color-button-secondary: #eff0f7;
  --color-hover: #8668ff;
  --color-transparent: #0000004d;
  --color-background-modal: #1a1b28;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-font-primary);
}

.navbar-container-home {
  width: 100%;
  height: 70px;
  padding: 15px 50px;
  background-color: var(--color-navbar);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-input);
}

.navbar-container-home .navbar-content {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-container-home .button-sign-up {
  padding: 10px 20px;
  border: 1px solid var(--color-button-secondary);
  border-radius: 30px;
  background-color: transparent;
  color: var(--color-button-secondary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-container-home .button-sign-up:hover {
  background-color: var(--color-button-secondary);
  color: var(--color-navbar);
}

.navbar-container-home .button-log-in {
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  background-color: var(--color-button);
  color: var(--color-button-secondary);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.navbar-container-home .button-log-in:hover {
  background-color: var(--color-hover);
}

.navbar-container-home .buttons {
  display: flex;
  gap: 15px;
}

.hidden {
  display: none;
}

.sign-up-modal,
.log-in-modal {
  width: 100%;
  height: 100vh;
  background-color: var(--color-transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.sign-up-modal-content,
.log-in-modal-content {
  background-color: var(--color-background-modal);
  width: 30%;
  max-width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
  padding: 56px 16px 0 16px;
}

.sign-up-modal-content h3,
.log-in-modal-content h3 {
  font-size: 1.75rem;
  text-align: center;
  margin-bottom: 30px;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.error-text {
  font-weight: 700;
  font-size: 1rem;
  color: rgba(255, 0, 0, 0.92);
  padding-bottom: 5px;
}

.home-body {
  width: 100%;
  height: 90vh;
  background: linear-gradient(rgba(12, 13, 20, 0.9), rgba(12, 13, 20, 0.9)),
    url(./assets/bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.home-body h1 {
  font-size: 2.5rem;
}

.home-body h1 span {
  color: var(--color-button);
}

.home-body p {
  max-width: 950px;
  font-size: 1.25rem;
  text-align: center;
  padding-top: 10px;
  color: var(--color-font-secondary);
}
